Importamos las librerias:

In [1]:
# pip install yfinance
import yfinance as yf
# pip install pandas
import pandas as pd

Así se ven los datos descargados para un activo:

In [2]:
stock = yf.download('AAPL', start='2014-10-18', end='2024-10-18')
stock.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-10-20  24.580000  24.990000  24.555000  24.940001  22.144411  310069200
2014-10-21  25.754999  25.754999  25.317499  25.617500  22.745964  378495600
2014-10-22  25.709999  26.027500  25.650000  25.747499  22.861391  273052400
2014-10-23  26.020000  26.262501  25.907499  26.207500  23.269831  284298800
2014-10-24  26.295000  26.372499  26.132500  26.305000  23.356403  188215600

Nos importan son los precios ajustados, entonces solo agarramos a esos

In [3]:
stock['Adj Close'].head()

Date
2014-10-20    22.144411
2014-10-21    22.745964
2014-10-22    22.861391
2014-10-23    23.269831
2014-10-24    23.356403
Name: Adj Close, dtype: float64

Para no ir haciendo uno por uno hacemos un ciclo y los pasamos a Excel :)

In [4]:
# Lista de tickers
tickers = ['NKE', 'DIS', 'MSFT', 'COST', 'AMZN', 'AAPL', 'TSLA', 'NFLX', 'GOOGL', 'SBUX', 'KO', 'AAPL', 'COST']

# Fechas de inicio y fin
start_date = '2014-10-18'
end_date = '2024-10-18'

In [5]:
df = pd.DataFrame()     # Creamos una tabla vacía

for ticker in tickers:
    stock = yf.download(ticker, start=start_date, end=end_date) # Descargamps los datos de Yahoo Finance
    stock_adj_close = stock['Adj Close']            # Seleccionamos la columna Adj Close
    stock_adj_close.name = ticker                   # Renombramos la columna con el ticker
    df = pd.concat([df, stock_adj_close], axis=1)   # Concatenamos la columna a la tabla

df.to_excel('precios_ajustados.xlsx')               # Guardamos el la tabla en Excel

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed